*.udb
*.o
.DS_Store
sparc-EVA
obj
sparc
.vscode
.cache
compile_commands.json
.clang-format
dev_tests/
*~
*#*#
/conda/
/doc/.LaTeX/**/*.out
/doc/.LaTeX/**/*.aux
/doc/.LaTeX/**/*.vrb
/doc/.LaTeX/**/*.out
/doc/.LaTeX/**/*.log
/doc/.LaTeX/**/auto/
/doc/.LaTeX/Manual.pdf*
/doc/.LaTeX/**/*.synctex*
/README.html

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/
outputs/
.DS_Store
